# SPDX-FileCopyrightText: 2024 Manuel Alcaraz Zambrano <manuelalcarazzam@gmail.com>
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Name=Chessament
Name[ar]=شطرنج
Name[ca]=Chessament
Name[ca@valencia]=Chessament
Name[es]=Chessament
Name[fi]=Chessament
Name[fr]=Chessament
Name[gl]=Chessament
Name[he]=Chessament
Name[it]=Chessament
Name[ka]=Chessament
Name[nl]=Chessament
Name[sl]=Chessament
Name[tr]=Chessament
Name[uk]=Chessament
Name[x-test]=xxChessamentxx
Comment=Chess Tournament Manager
Comment[ar]=مدير بطولة شطرنج
Comment[ca]=Gestor de torneigs d'escacs
Comment[ca@valencia]=Gestor de torneigs d'escacs
Comment[es]=Gestor de torneos de ajedrez
Comment[fi]=Šakkiturnausten hallinta
Comment[fr]=Gestionnaire de tournoi d'échecs
Comment[gl]=Xestor de torneos de xadrez.
Comment[he]=מנהל תחרויות שחמט
Comment[it]=Gestore di tornei di scacchi
Comment[ka]=ჭადრაკის ტურნირის მმართველი
Comment[nl]=Beheerder van een schaaktoernooi
Comment[sl]=Upravljalnik šahovskih turnirjev
Comment[tr]=Satranç Turnuvası Yöneticisi
Comment[uk]=Керування шаховим турніром
Comment[x-test]=xxChess Tournament Managerxx
Version=1.0
Exec=chessament
Icon=org.kde.chessament
Type=Application
Terminal=false
Categories=Office;
