/*
 * SPDX-FileCopyrightText: 2025 Manuel Alcaraz Zambrano <manuelalcarazzam@gmail.com>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: transparent;
}

.page {
  display: flex;
  max-width: 21cm;
  margin: auto;
  background: var(--background);
  color: var(--text-color);
}

main {
  margin: 1.2cm 1cm;
}

h1 {
  font-size: 15pt;
}

h2 {
  font-size: 13pt;
}

table {
  margin-block: 16px;
  border-collapse: collapse;
  border: 1px solid var(--border-color);
  font-size: 10pt;
}

table th {
  font-weight: bold;
  padding: 2px;
  background: #efefef;
  border: 1px solid var(--border-color);
}

table td {
  border: 1px solid var(--border-color);
  padding: 2px;
}

@media print {
  .page, main {
    margin: 0;
  }

  @page {
    size: A4;
    margin: 1.2cm 1cm;
  }
}

